body {
  margin: 0;
  font-family: Arial;
  background: #f3f4f6;
}

/* HEADER */
.header {
  background: linear-gradient(to right, #6d28d9, #7c3aed);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu .active {
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
  border-radius: 20px;
}

.user {
  background: white;
  color: #6d28d9;
  padding: 6px 12px;
  border-radius: 20px;
}

.container {
  padding: 30px;
}

/* FORM */
.formulario {
  background: #f9fafb;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* 🔥 GRID EN 2 FILAS */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.form-grid input,
.form-grid select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-main {
  background: #6d28d9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.delete {
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

/* LISTA */
.pedido {
  margin-top: 15px;
}

.pedido-simple {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.edit {
  background: #6d28d9;
  color: white;
  border-radius: 20px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}