---
import App from '../components/App.jsx';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Pedidos</title>
  </head>

  <body>
    <App client:only="react" />
  </body>
</html>