/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f3f4f6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  background: linear-gradient(90deg, #6a11cb, #8e2de2);
  color: white;
}

/* IZQUIERDA */
.header div:first-child {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* MENU CENTRO */
.menu {
  display: flex;
  gap: 30px;
}

.menu span {
  cursor: pointer;
  opacity: 0.9;
}

/* BOTÓN ACTIVO */
.menu .active {
  background: rgba(255,255,255,0.2);
  padding: 6px 16px;
  border-radius: 20px;
}

/* USUARIO DERECHA */
.user {
  background: #e9e9e9;
  color: #5a2bbf;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
}

/* CONTENEDOR */
.container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

/* CARD */
.card {
  background: #ececec;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* FORMULARIO */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* inputs */
.form-grid input,
.form-grid select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* SEGUNDA FILA (estado + pago + botón) */
.form-grid select:nth-of-type(1) {
  grid-column: span 2;
}

.form-grid select:nth-of-type(2) {
  grid-column: span 1;
}

.btn-main {
  background: linear-gradient(to right, #6d28d9, #9333ea);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

/* LISTA PEDIDOS */
.pedido-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BADGES */
.badges {
  display: flex;
  gap: 10px;
}

.estado {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.estado.pendiente {
  background: #facc15;
  color: black;
}

.estado.entregado {
  background: #22c55e;
}

.estado.cancelado {
  background: #ef4444;
}

.pago {
  background: #c7d2fe;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* BOTONES */
.actions {
  display: flex;
  gap: 10px;
}

.edit {
  background: #7c3aed;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.delete {
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}